/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  min-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 10px;
}
.toDoAction {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}
